In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
from datetime import datetime
import matplotlib.pyplot as plt
import math
import glob
%matplotlib inline
from scipy.stats import chi2_contingency

In [2]:
data_1 = pd.read_csv('/Users/tatyanach/Desktop/Cognitive Lab/9 dots/hypotheses_data/H_1/hypothesis_1_exp1_final.csv')  
data_1.head()

,participant_id,first_diag_1_try,any_diag_1_try,first_diag_3_tries,any_diag_3_tries,solved,Unnamed: 6,Unnamed: 7
0,0,1,1,1,1,1,NaN,NaN
1,1,0,1,1,1,1,NaN,NaN
2,2,1,1,1,1,0,NaN,NaN
3,3,0,0,0,1,0,NaN,NaN
4,4,0,0,0,1,0,NaN,NaN

In [3]:
data_2 = pd.read_csv('/Users/tatyanach/Desktop/Cognitive Lab/9 dots/hypotheses_data/H_1/hypothesis_1_exp2_final.csv')  
data_2.head()

,participant_id,first_diag_1_try,any_diag_1_try,first_diag_3_tries,any_diag_3_tries,solved,Unnamed: 6,Unnamed: 7
0,0,0,0,0,1,1,NaN,NaN
1,1,0,1,0,1,0,NaN,NaN
2,2,0,1,0,1,1,NaN,NaN
3,3,0,1,0,1,1,NaN,NaN
4,4,0,0,1,1,1,NaN,NaN

In [4]:
data_3 = pd.read_csv('/Users/tatyanach/Desktop/Cognitive Lab/9 dots/hypotheses_data/H_1/hypothesis_1_exp3_final.csv')  
data_3.head()

,participant_id,first_diag_1_try,any_diag_1_try,first_diag_3_tries,any_diag_3_tries,solved,Unnamed: 6,Unnamed: 7
0,0,0,0,1,1,1,NaN,NaN
1,1,1,1,1,1,1,NaN,NaN
2,2,1,1,1,1,1,NaN,NaN
3,3,0,0,0,0,0,NaN,NaN
4,4,1,1,1,1,1,NaN,NaN

In [5]:
data = pd.concat([data_1, data_2, data_3], ignore_index = True)
data

,participant_id,first_diag_1_try,any_diag_1_try,first_diag_3_tries,any_diag_3_tries,solved,Unnamed: 6,Unnamed: 7
0,0,1,1,1,1,1,NaN,NaN
1,1,0,1,1,1,1,NaN,NaN
2,2,1,1,1,1,0,NaN,NaN
3,3,0,0,0,1,0,NaN,NaN
4,4,0,0,0,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...
149,51,0,1,1,1,0,NaN,NaN
150,52,0,0,0,0,1,NaN,NaN
151,53,0,0,1,1,0,NaN,NaN
152,54,0,0,0,1,0,NaN,NaN
153,55,1,1,1,1,0,NaN,NaN

In [6]:
def make_contingency_table(test_data, groups, values):
    cols = groups + values
    df = test_data.loc[:, cols]
    df = df.groupby(groups).count()
    #fill non-existant cases
    if (0,0) not in df.index:
        df.loc[(0,0), df.columns[0]] = 0
    if (0,1) not in df.index:
        df.loc[(0,1), df.columns[0]] = 0
    if (1,0) not in df.index:
        df.loc[(1,0), df.columns[0]] = 0
    if (1,1) not in df.index:
        df.loc[(1,1), df.columns[0]] = 0
    res = [[int(df.loc[(0, 0)]), int(df.loc[(0, 1)])], [int(df.loc[(1, 0)]), int(df.loc[(1, 1)])]]
    return res

In [7]:
groups = ['any_diag_3_tries', 'solved']
values = ['participant_id']
df = make_contingency_table(data_1, groups, values)
df

[[2, 0], [21, 17]]

In [8]:
def test_me(test_data, groups, values):
    print('Test factors:')
    print(groups)
    obs = make_contingency_table(test_data, groups, values)
    print('contingency table:')
    print(obs)
    chi2, pvalue, dof, expectedndarray = chi2_contingency(obs)
    #Returns: test statistic, p-value, degrees of freedom, expected frequencies
    print('chi2-criterium is')
    print(chi2)
    print('p-value is:')
    print(pvalue)
    if pvalue < 0.05:
        return 'Reject the null hypothesis - The factors are dependent!\n'
    else:
        return 'Cant reject the null hypothesis - The factors are independent\n'

In [9]:
#testing everything on merged data (exp 1-3)
df = data
groups = ['first_diag_1_try', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['any_diag_1_try', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['first_diag_3_tries', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['any_diag_3_tries', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

Test factors:
['first_diag_1_try', 'solved']
contingency table:
[[67, 50], [17, 20]]
chi2-criterium is
1.0319434819434825
p-value is:
0.3097026363989761
Cant reject the null hypothesis - The factors are independent

Test factors:
['any_diag_1_try', 'solved']
contingency table:
[[49, 39], [35, 31]]
chi2-criterium is
0.026736111111111113
p-value is:
0.870115477417024
Cant reject the null hypothesis - The factors are independent

Test factors:
['first_diag_3_tries', 'solved']
contingency table:
[[34, 21], [50, 49]]
chi2-criterium is
1.3974074074074072
p-value is:
0.23715813784363884
Cant reject the null hypothesis - The factors are independent

Test factors:
['any_diag_3_tries', 'solved']
contingency table:
[[10, 8], [74, 62]]
chi2-criterium is
0.025687636165577343
p-value is:
0.8726655312950202
Cant reject the null hypothesis - The factors are independent

In [10]:
#testing everything on exp-1 data only
df = data_1
groups = ['first_diag_1_try', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['any_diag_1_try', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['first_diag_3_tries', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['any_diag_3_tries', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

Test factors:
['first_diag_1_try', 'solved']
contingency table:
[[17, 13], [6, 4]]
chi2-criterium is
0.0341005967604433
p-value is:
0.8534930008876922
Cant reject the null hypothesis - The factors are independent

Test factors:
['any_diag_1_try', 'solved']
contingency table:
[[12, 7], [11, 10]]
chi2-criterium is
0.13563320064868017
p-value is:
0.7126613844232081
Cant reject the null hypothesis - The factors are independent

Test factors:
['first_diag_3_tries', 'solved']
contingency table:
[[11, 3], [12, 14]]
chi2-criterium is
2.699193389730473
p-value is:
0.10039902900019132
Cant reject the null hypothesis - The factors are independent

Test factors:
['any_diag_3_tries', 'solved']
contingency table:
[[2, 0], [21, 17]]
chi2-criterium is
0.26383093283079834
p-value is:
0.6075003840596989
Cant reject the null hypothesis - The factors are independent

In [11]:
#testing everything on exp-2 data only
df = data_2
groups = ['first_diag_1_try', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['any_diag_1_try', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['first_diag_3_tries', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['any_diag_3_tries', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

Test factors:
['first_diag_1_try', 'solved']
contingency table:
[[22, 24], [4, 8]]
chi2-criterium is
0.3284777382943146
p-value is:
0.566556828722161
Cant reject the null hypothesis - The factors are independent

Test factors:
['any_diag_1_try', 'solved']
contingency table:
[[16, 20], [10, 12]]
chi2-criterium is
0.03881665209790222
p-value is:
0.8438123401878067
Cant reject the null hypothesis - The factors are independent

Test factors:
['first_diag_3_tries', 'solved']
contingency table:
[[11, 12], [15, 20]]
chi2-criterium is
0.010478380315336891
p-value is:
0.9184677890843541
Cant reject the null hypothesis - The factors are independent

Test factors:
['any_diag_3_tries', 'solved']
contingency table:
[[2, 3], [24, 29]]
chi2-criterium is
0.059189042089985495
p-value is:
0.8077823138846665
Cant reject the null hypothesis - The factors are independent

In [12]:
#testing everything on exp-3 data only
df = data_3
groups = ['first_diag_1_try', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['any_diag_1_try', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['first_diag_3_tries', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

groups = ['any_diag_3_tries', 'solved']
values = ['participant_id']
print(test_me(df, groups, values))

Test factors:
['first_diag_1_try', 'solved']
contingency table:
[[28, 13], [7, 8]]
chi2-criterium is
1.3658536585365852
p-value is:
0.2425255619785683
Cant reject the null hypothesis - The factors are independent

Test factors:
['any_diag_1_try', 'solved']
contingency table:
[[21, 12], [14, 9]]
chi2-criterium is
0.004918752744839701
p-value is:
0.9440871482894411
Cant reject the null hypothesis - The factors are independent

Test factors:
['first_diag_3_tries', 'solved']
contingency table:
[[12, 6], [23, 15]]
chi2-criterium is
0.02183235867446394
p-value is:
0.8825339378715986
Cant reject the null hypothesis - The factors are independent

Test factors:
['any_diag_3_tries', 'solved']
contingency table:
[[6, 5], [29, 16]]
chi2-criterium is
0.06787878787878787
p-value is:
0.7944506746208532
Cant reject the null hypothesis - The factors are independent